@use "variables" as vars;
.app {
  :global {
    color: vars.$dark_gray;
    background: vars.$off_white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h4 {
      color: vars.$medium_gray;
    }
  }
}
