@use "variables" as vars;

.fieldset {
  border: none;
  :global {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.checkbox {
  background-color: vars.$light_gray;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:checked {
    &:after {
      content: "✓";
      color: vars.$dark_gray;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
}
